@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_normalize";
@import "utils/reset";


body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $cMainBlackColor;
  overflow-x: hidden;
}

.app__background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 205px 1fr 80px;
    grid-gap: 20px;

    .header__logo {
      align-self: center;
    }

    .header__nav {
      align-self: center;

      .nav__list {
        display: flex;
        justify-content: center;

        .nav__item {
          &.active {
            .nav__link {
              color: $cMainYelloColor;
            }
          }

          .nav__link {
            padding: 0 14px;
            transition: 0.3s;
            color: #B1B1B1;
            font-family: $akrobatFont;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.3px;

            &:hover {
              color: $cMainYelloColor;
            }
          }

        }
      }
    }

    .lang__switcher {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .lang__switch {
        padding: 0 8px;
        transition: 0.3s;
        color: #B1B1B1;
        font-family: $akrobatFont;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.3px;

        &:hover {
          color: $cMainYelloColor;
        }

        &.active {
          color: $cMainYelloColor;
        }
      }
    }
  }
}

.content {
  margin-top: 10px;
}

.main__page {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .page_message {
    font-family: $akrobatFont;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: $whiteColor;
    padding-bottom: 24px;
    margin-bottom: 32px;
    width: 100%;
    border-bottom: 1px solid #444444;
  }

  .btn_wrapper {
    .team__btn {
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid #6D6D6D;
      border-radius: 4px;
      display: flex;
      padding: 16px 40px;
      align-items: center;
      justify-content: center;
      font-family: $akrobatFont;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      color: $whiteColor;
      transition: 0.3s;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

}

.content__container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  padding: 40px;

  .page__header {
    @include page_header;
  }
}

.staff__wrapper {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 50px;

  .staff__item {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 24px;
    border-radius: 4px;
    padding-right: 20px;

    &:hover {
      background-color: #F8F8FB;

      .item__content {
        .item__link {
          .link__arrow {
            transform: rotateZ(90deg);
          }
        }
      }
    }

    .item__image {
      img {
        object-fit: contain;
        height: auto;
        width: 100%;

      }
    }

    .item__content {
      align-self: end;
      padding-bottom: 25px;

      .name {
        font-family: $akrobatFont;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.3px;
        color: $cMainBlackColor;
        margin-bottom: 4px;
      }

      .subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.3px;
        color: #545454;
        margin-bottom: 17px;
      }

      .item__link {
        display: grid;
        grid-template-columns: 20px 1fr 15px;
        grid-gap: 10px;

        .icon, .link__arrow {
          justify-self: center;
          transition: 0.3s;
        }

        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: $cMainBlueColor;
        letter-spacing: -0.3px;
        transition: 0.3s;

      }
    }
  }
}

.about__person {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 25px;
  padding: 0 11px 32px 33px;
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 32px;

  .person__image {
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      border-radius: 4px;
    }
  }

  .person__content {
    padding: 8px 0;

    .person__name {
      font-family: $akrobatFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.3px;
      color: $cMainBlackColor;
      margin-bottom: 4px;
    }

    .person__subtitle {
      color: #545454;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.3px;
      margin-bottom: 16px;
    }

    .person__description {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.3px;
      color: #000000;
      margin-bottom: 16px;
    }

    .person__articles-count {
      display: flex;
      align-items: center;
      color: $cMainBlueColor;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.3px;

      img {
        margin-right: 10px;
      }
    }
  }
}

.news__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px 24px;
  padding: 0 50px;

  .news__item {
    border-radius: 4px;
    overflow: hidden;
    padding: 0 8px 8px;

    .img__wrapper {
      margin-left: -8px;
      margin-right: -8px;
      height: 200px;
      margin-bottom: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }

    .news__title {
      font-family: $akrobatFont;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.3px;
      color: $cMainBlackColor;

      margin-bottom: 16px;
    }

    &:hover {
      background-color: #F8F8FB;
      transition: 0.3s;


    }

    .news__info {
      display: grid;
      grid-template-columns: 105px 100px 1fr;
      grid-gap: 20px;
      padding-bottom: 5px;

      img {
        margin-right: 10px;
      }

      .news__date, .news__views, .news__arrow {
        align-self: center;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.3px;
        color: $cMainBlueColor;
      }

      .news__arrow {
        display: flex;
        justify-content: center;
        width: 24px;
        height: 24px;
        justify-self: end;


        img {
          transition: 0.3s;
          margin-right: 0;
        }

        &:hover {
          img {
            transform: rotateZ(90deg);
          }
        }
      }
    }

    .news__detail {
      margin-top: 15px;
      border-top: 1px solid #C5C5C5;
      padding: 16px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .news__authors {
        display: flex;
        align-items: center;

        .news__author {
          margin-right: 24px;
          display: grid;
          grid-template-columns: 24px 1fr;
          grid-gap: 8px;
          margin-bottom: 8px;

          .author__img {
            width: 24px;
            height: 24px;

            img {
              width: 24px;
              border-radius: 100%;
              overflow: hidden;
              height: 24px;
            }
          }

          .author__title {
            align-self: center;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: -0.3px;
            text-decoration-line: underline;
            color: $cMainBlackColor;
          }

        }

      }

      .news__resource {
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        letter-spacing: -0.3px;
        text-decoration-line: underline;
        color: $cMainBlueColor;
      }
    }

  }
}

.article__wrapper {
  max-width: 640px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 24px;
  }

  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: $cMainBlackColor;

  h1, h2, h3, h4, h5, h6 {
    font-family: $akrobatFont;
    margin-bottom: 24px;
    letter-spacing: -0.3px;
    color: black;

  }
  h2{

    font-weight: 700;
    font-size: 24px;
  }
  h3{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 25px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: $cMainBlackColor;
    margin-bottom: 24px;

  }
}
.article__detail{
  max-width: 640px;
  margin: 0 auto;
  border-top: 1px solid #C5C5C5;
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .article__authors{
    display: flex;
    align-items: center;
    .article__author{
      display: grid;
      grid-template-columns: 48px 1fr;
      margin-right: 32px;
      grid-gap: 8px;
      &:last-child{
        margin-right: 0;
      }
    }
    .author__image{
      img{
        width: 48px;
        height: 48px;
        border-radius: 100%;
        overflow: hidden;
        object-fit: cover;
      }
    }
    .author__title{
      display: flex;
      align-items: center;
      a{
        font-family: $akrobatFont;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.3px;
        text-decoration-line: underline;
        color: $cMainBlackColor;
      }
    }
  }
  .article__origin{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: $cMainBlackColor;
    a{
      color: $cMainBlueColor;
    }
  }
}

@media screen and (max-width: 1150px) {

  .staff__page, .person__page, .news__page, .article__page {
    padding: 0 15px;
  }
  .content__container {
    padding: 24px 15px;
  }

}

@media screen and (max-width: 992px) {
  .article__wrapper{
    img{
      margin-bottom: 16px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 16px;
    }
    h3{
      font-size: 16px;
      line-height: 22px;
    }

    p {
      margin-bottom: 16px;

    }
    h2{
      font-size: 18px;
      line-height: 22px;
    }
  }

  .header {
    .container {
      grid-template-columns: 65px 1fr 25px;

      .header__logo {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: center;
      }

      .mobile__menu {
        grid-column-start: 3;
        grid-column-end: 4;
        display: block !important;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .lang__switcher {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        justify-content: flex-start;

        .lang__switch {
          font-size: 16px;
          line-height: 19px;
          padding: 0 8px 0 0;


          &:last-child {
            padding-right: 0;
          }
        }
      }

      .header__nav {
        display: none;
      }
    }
  }
  .about__person {
    padding-left: 0;
    padding-right: 0;
  }
  .news__wrapper {
    padding-left: 0;
    padding-right: 0;
    grid-gap: 24px;

    .news__item {

      .news__title {
        font-size: 18px;
        line-height: 22px;
      }

      .news__detail {
        .news__resource {
          display: none;
        }
      }

      .img__wrapper {
        height: 150px;

      }
    }
  }
  .staff__page {
    .staff__wrapper {
      grid-gap: 15px;
      padding: 0;

      .staff__item {
        grid-gap: 15px;
        padding-right: 10px;

        .item__content {
          padding-bottom: 10px;

          .name {
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 4px;
          }

          .subtitle {
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .article__detail{
    flex-direction: column;
    align-items: center;
    .article__authors{
      margin-bottom: 16px;
    }
  }
  .main__page {
    .page_message {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 24px;
    }

    .btn_wrapper .team__btn {
      padding: 12px 40px;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .about__person {
    margin-bottom: 16px;
    padding-bottom: 16px;
    grid-template-columns: 1fr;
    grid-gap: 16px;

    .person__image {
      max-width: 150px;

      img {
        width: 100%;
      }
    }

    .person__content {
      padding: 0;

      .person__name {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 4px;
      }

      .person__subtitle {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 16px;
      }

      .person__description {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 16px;
      }

      .person__articles-count {
        font-size: 14px;
        line-height: 19px;
      }

    }
  }
  .staff__page {
    .staff__wrapper {
      //  grid-template-columns: 1fr;
      .staff__item {
        grid-template-columns: 95px 1fr;
        grid-gap: 15px;

        .item__image {

          img {
            width: 95px;
            height: 126px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .staff__page {
    .staff__wrapper {
      grid-template-columns: 1fr;

      .staff__item {
        padding-right: 0;
      }
    }
  }
  .news__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 16px;

    .news__item {
      .img__wrapper {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 576px) {

  .header {
    .container {


      .header__logo {
        img {
          width: 164px;
          height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 476px) {
  .news__wrapper {
    .news__item {
      .img__wrapper {
        height: 150px;
        margin-bottom: 15px;
      }

      .news__title {
        margin-bottom: 16px;
      }
    }
  }
}
