@import "vars";

@mixin page_header() {
  padding-bottom: 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #C5C5C5;
  .head {
    color: $cMainBlackColor;
    font-family: $akrobatFont;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.3px;
  }
  .breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    li {
      margin: 0 4px;
      color: #545454;

      &:after {
        content: '-';
        margin-left: 3px;
      }

      &:last-child {
        &:after {
          display: none;

        }
      }
    }

    .crumb__link {
      color: #545454;
      cursor: pointer;
      transition: 0.3s;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.3px;

      &:hover {
        color: $cMainBlackColor;
      }

      &.current {
        color: $cMainBlackColor;
        cursor: initial;
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 16px;
    margin-bottom: 16px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    .head {
      font-size: 24px;
      line-height: 29px;
    }
    .breadcrumbs {
      margin-bottom: 16px;

      li {
        margin: 0 4px 0 0;

        .crumb__link {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

}
