// Font
$mainFont: 'Open Sans', sans-serif;
$akrobatFont: 'Akrobat', sans-serif;

// Size
$cMainBlackColor: #2B2B2B;
$cMainYelloColor: #FDB600;
$cMainBlueColor: #465FAC;
$cMainGrayColor:#F2F2F2;
$cMainRed: #F13636;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 25px;
$whiteColor: #ffffff

